

.btn_img{
    width: 60px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
    background-color: none;

}
.btn_img:hover{
   opacity: .5;
}
.btn_hack{
    width: 80px;
    height: 40px;
    padding: 2px;
    cursor: pointer;
    background-color: var(--secondary);
    color: whitesmoke;
    font-size: 1.3em;
    border-radius: 3px;
}
.btn_hack:hover{
   opacity: .5;
}
.td_boton_text{
    text-align: left;
    text-align: justify;
}

.td_boton_text:hover{
    background-color: rgb(0, 0, 0, .2);
    cursor: pointer;
    
}
.b_guardar{
    width: 40px;
    text-align: center;
}
.b_guardar:hover{
    opacity: .5;
}
.b_guardar_r{
    float: right;
    width: 40px;
    text-align: center;
    background-color: none;
    cursor: pointer;
}
.b_guardar_r:hover{
    opacity: .5;
}

.b_cancelar{
    cursor: pointer;
    width: 35px;
    height: 30;
    text-align: center;
    background-color: none;
}
.b_cancelar:hover{
   opacity: .5;
}
.b_volver{
    cursor: pointer;
    width: 30px;
    top: 0;
    background-color: none;
}
.b_volver:hover{
    opacity: .7;
}
.ri{
    float: right;
    color: green;
    
}
.le{
    float: left;
    color: green;
    font-size: 2em;

}
